@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
    
    

}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #702DFA;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#menu_container {
    padding: 12px;
}

#menuLateralCompleto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.itemDaDash {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.itemDaDash.active {
    background-color: #702DFA;
}

.itemDaDash:hover:not(.active),
#sair_btn:hover {
    background-color: #e3e9f7;
}

.itemDaDash a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.itemDaDash.active a {
    color: #e3e9f7;
}

.itemDaDash a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}




#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #B72778;
    color: #0000009d;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#menu.open-sidebar {
    min-width: 15%;
}

#menu.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#menu.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

i{
    color: rgba(255, 255, 255, 0.822);
}

span{
    color: white;
    margin-left: 10px;
}

/*  INVESTIMENTOS */

.bodyInvestimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(65px + 20px);
}
 
 input{
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.055);
    border-color:#702DFA;
    margin-bottom: 10px;
    width: 150px;

}

h1.tituloInvestimento{
    margin-bottom: 2px;
    margin-left:-15px;
    margin-top: 2px;

}

p.p{
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000;
}

button.btnGrafico{
width: 140px;
height: 37px;  
border-radius: 100px;
background-color:#702DFA; 
border: none;
color: white;
margin-top: 10px;
}

#myChart {
    max-width: 270px; /* Defina a largura máxima desejada */
    max-height: 300px; /* Defina a altura máxima desejada */
    margin: 20px auto; /* Centralize o gráfico horizontalmente e adicione um espaço acima e abaixo */
}


/*  Calculadora de juros */

main.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(75px + 20px);

}

div.label1{
    text-align: center;
    margin-bottom: 4px;
}

h1.calculadorah1{
    font-size: 27px;
    margin-bottom: 15px;
}

span#total{
    color:#B72778;
   
    font-size: 19px;
    text-align: center;
    
}

h1.result{
    font-size: 25px;
    margin-top: 10px;
}

/* GASTO MENSAL */ 

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
    width: 100%; 
}

.container2{
    background-color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 25px;
    color: white;
    box-shadow: 10px 10px #702DFA;
}



span.gastosSpan{
    color: #702DFA;
    font-weight: bold;
    display: block;
    margin: 0 auto; /* Isso centralizará horizontalmente */
    text-align: center;
    
}

div.explicacaoGastos{
    margin-bottom: 7px;
}

.explicacaoGastosp {
    text-align: center; /* Centraliza o texto dentro do parágrafo */
    
}

.explicacaoGastosp .gastosSpan {
    display: inline-block; /* Isso permite a centralização horizontal */
    text-align: center; /* Isso centraliza o texto dentro do span */
    width: 100%; /* Garante que o span ocupe toda a largura disponível */
}

span.a{
    color: #702DFA;
    font-weight: bold;
    margin-top: 15px;
}

.explicacaoGastosp2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    color: #702DFA;
    margin-bottom: -10px;
}
 


/* ENTENDER GASTOS */

button.btnVoltar{
    width: 140px;
    height: 37px;  
    border-radius: 100px;
    background-color:#B72778;
    border: none;
    color: white;
    margin-top: 10px;
}

